{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="update-password">
    <div class="container">
        <div class="row">
            <div class="col">&nbsp;</div>
            <div class="col-7">
                <div class="bg-light py-3 px-3 rounded">
                    <h1>Modification du mot de passe</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success my-3">Modifier le mot de passe</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
</div>
{% endblock %}
