{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="update-password">
        <div class="container clearfix">
                <h1 class="my-5">Modification du mot de passe</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-check"></i>
                    Modifier le mot de passe
                </button>
                {#                    <button type="submit" class="btn btn-success my-3">Modifier le mot de passe</button>#}
                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
