{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}
    <div class="registration">
        <div class="container">
            <div class="row">
                <div class="col">&nbsp;</div>
                <div class="col-7">
                    <div class="bg-light py-3 px-3 rounded">
                        <h1>Inscrivez-vous sur notre site</h1>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success">Confirmer l'inscription</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
