@import url("./bootstrap.min.css");

div.container {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

div.ad-title {
    background-image: url("https://lorempixel.com/1000/350/?68489");
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.card-title a{
    text-decoration: none;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 70px;
    max-height: 70px;
}

.avatar-mini {
    max-width: 30px;
    max-height: 30px;
}

.ad-author a {
    text-decoration: none;
    color: black;
}
