<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AirBNB - {% block title %}Bienvenue{% endblock %}</title>
    {{ encore_entry_link_tags('css/app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="h-100 d-flex flex-column justify-content-between">

{% include "partials/header.html.twig" %}

{% block body %}{% endblock %}

{% include "partials/footer.html.twig" %}

{{ encore_entry_script_tags('js/app') }}

{% block javascripts %}{% endblock %}

</body>
</html>
