{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <input type="hidden" id="widgets-counter" value="0">

        <button type="submit" class="btn btn-success">Créer la nouvelle annonce</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {‌{encore_entry_script_tags("js/ad") }}
{% endblock %}

